@charset "utf-8";
/* CSS Document */

body{
	background-image: url('images/bg-01.png');
	background-color:#fff;
	margin:0;
}
.img {
	border:0;
}
.wrapper {
	width: 910px;
	margin:auto;
	font-family:"微軟正黑體", normal 12px/1.8em Arial, Helvetica, sans-serif;
}
.header {
	background-color: transparent;
	width: 1200px;
	height: 100px;
	padding: 10px;
	margin:auto;
	clear: both;
}
.logo {
	float: left;
	width: 150px;
	padding: 40px 0 40px 50px;
	margin: 0 auto;
	clear: both;
}
.menu_nav {
	margin: 0;
	padding: 30px 40px 0 0;
	background-color: transparent;
	top: auto;
	float: right;
	clear: right;
	color: #666666;
}
.menu_nav ul {
	list-style:none;
	margin:0;
	padding:30px 0 0 0;
	float:right;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	margin:0;
	padding:2px 20px;
	color: #666666;
	text-decoration:none;
	font-size:14px;
	line-height:16px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#495C6D;
	border-bottom: 5px solid #3CB0E3;
	padding-bottom: 30px;
}
.menu_select {
	width: 390px;
	height: 116px;
	background-color:#fff;
	left:-140px;
	margin-top:35px;
	clear:both;
	text-decoration:none;
}
.menu_select_item{
	width:76px;
	height:100px;
	border-right: 1px solid #999999;
	margin-top:5px;
	float:left;
	text-align:center;
	text-decoration:none;
	padding-top:5px;
}
.menu_select_itemnl{
	width:76px;
	height:100px;
	float:left;
	margin-top:5px;
	text-align:center;
	text-decoration:none;
	padding-top:5px;
}
.menu_select_itemtext{
	width:76px;
	height:50px;
	text-align:center;
	text-decoration:none;
	padding:8px 0 10px 0;
	font-size:12px;
	color:#666666;
	position:absolute;
}
.menu_select_itemtextASSRSS{
	width:76px;
	height:50px;
	text-align:center;
	text-decoration:none;
	padding:21px 0 10px 0;
	font-size:12px;
	color:#666666;
	position:absolute;
}
.menu_select_itemtextCBS{
	width:76px;
	height:50px;
	text-align:center;
	text-decoration:none;
	padding:15px 0 10px 0;
	font-size:12px;
	color:#666666;
	position:absolute;
}
.h1 {
	margin:0;
	padding:0;
	color:#333333;
	font:26px;
	font-family: Century Gothic;
}
.h1 a, h1 a:hover {
	color:#333333;
	text-decoration:none;
}
.h1 span {
	color:#333333;
}
.h1 small {
	padding:0 20px;
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
	font-family:"微軟正黑體";
}
.h2 {
	font:normal Arial, Helvetica, sans-serif;
	margin:0;
	color:#595959;
	font-family:"微軟正黑體";
	font-size:24px;
	line-height:16px;
}
.h3 {
	font:normal Arial, Helvetica, sans-serif;
	margin:0;
	color:#9FA0A0;
	font-family:"微軟正黑體";
	font-size:18px;
	line-height:24px;
}
.h3_2 {
    font:normal Arial, Helvetica, sans-serif;
	padding:20px 10px 5px 0;
	margin:0;
	color:#fff;
	font-family:"微軟正黑體";
	font-size:18px;
	font-weight:bold;
	line-height:24px;
}
.h3_3 {
    font:normal Arial, Helvetica, sans-serif;
	padding:20px 10px 5px 0;
	margin:0;
	color:#9FA0A0;
	font-family:"微軟正黑體";
	font-size:11px;
	font-weight:bold;
	line-height:24px;
}
.p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	font-family:"微軟正黑體";
}
.p.spec {
}
.a {
	color:#97c950;
	text-decoration:underline;
}
.a.rm, a.com {
	padding:0;
	text-decoration:none;
}
.content {
	background-color: transparent;
	width:1000px;
	height:auto;
	margin:0 auto -40px;
	text-align:center;
	font-family:"微軟正黑體";
}
.content02 {
	background-color: #3CB0E3;
	width:auto;
	height:325px; 
	padding: 20px 0 0 0;
}
.content03 {
	width:1000px;
	margin:0 auto;
	padding:30px 40px 0 40px;
}
.content03 h1 {
	color: #ffffff;
	font-size:26px;
	font-family: "Century Gothic";
	padding:0 10px 0 10px;
}
.content03_p {
	color: #000000;
	width:780px;
	font-size:14px;
	font-family: "Century Gothic";
	padding: 30px 20px 0 20px;
}
#bluebtn {
	background-image:url(images/button-blue.png); 
	background-color:transparent; 
	width:110px; 
	height:40px; 
	border:0; 
	color:#fff;
	position:relative;
	left:570px;
	top:-60px;
}
.content_product02 {
	background-color: #3CB0E3;
	width:auto;
	height:60px; 
}
.content_product03 {
	width:1000px;
	margin:0 auto;
}
.content_product03 h1 {
	color: #ffffff;
	font-size:26px;
	font-family: "Century Gothic";
	padding:14px 10px 0 10px;
}
.product_infbg {
	background-color: #E0E0E0;
	width: auto;
	height: 1180px;
}
.product_infNSSbg {
	background-color: #E0E0E0;
	width: auto;
	height: 1240px;
}
.about_infbg {
	background-color: #E0E0E0;
	width: auto;
	height: 1320px;
}
.product_inf {
	width: 1000px;
	margin:0 auto;
	padding:20px 0 0 20px;
	height:auto;
	font-family:"微軟正黑體";
	color:#000000;
	clear:both;
}
.product_inf_topleft {
	background-color: transparent;
	float:left;
	width:500px;
	font-family:"微軟正黑體";
	color:#000000;
	clear:both;
}
.product_inf_picleft {
	background-color: transparent;
	float:left;
	width:450px;
	margin:0 auto;
	clear:both;
	height:auto;
}
.product_inf_topright {
	background-color: transparent;
	float: right;
	margin:0 auto;
	text-align:center;
	width:450px;
	font-family:"微軟正黑體";
	color:#000000;
}
.about_inf_topleft {
	background-color: transparent;
	float:left;
	width:380px;
	font-family:"微軟正黑體";
	color:#000000;
	clear:both;
}
.about_inf_topright {
	background-color: transparent;
	float: right;
	margin:0 40px 0 0;
	width:530px;
	font-family:"微軟正黑體";
	color:#000000;
}
.about_inf_picright {
	background-color: transparent;
	float: right;
	margin:80px 0 0 40px;
	width:530px;
	font-family:"微軟正黑體";
	color:#000000;
}
.about_inf_picleft {
	background-color: transparent;
	float:left;
	width:350px;
	height:auto;
	margin:80px 0 0 50px;
	font-family:"微軟正黑體";
	color:#000000;
	clear:both;
}
.footer {
	background-color: #E0E0E0;
	width:100%;
	height:120px;
	padding:10px 0 0 50px;
	font-family:"微軟正黑體";
	color: #333333;
	clear:both;
}
.footer_p {
	background-color: #E0E0E0;
	width:1000px;
	font-size:12px;
	padding-left:20px;
	text-align:center;
	font-family:"Century Gothic";
	color: #888888;
    margin:0px auto;
}
.footer01 {
	width:1000px;
	text-align:center;
	font-size:14px;
	margin:0 auto;
}
#h1_white {
	color:#ffffff;
	font-size:26px;
	padding:10px 0 0 20px;
	font-family:"Century Gothic";
}
#h1_black {
	color:#000000;
	font-size:26px;
	font-family:"Century Gothic";
}
#h3_black {
	color:#000000;
	font-size:16px;
	font-family:"Century Gothic";
}
#p_p_r {
	color:#000000;
	font-size:14px;
	padding:0 0 0 5px;
	font-family:"Century Gothic";
}
#p_p_r_t_balck {
	color:#000000;
	font-size:16px;
	font-weight:bold;
	padding:0 0 0 5px;
	font-family:"Century Gothic";
}
#p_p_r_t_white {
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:0 0 0 5px;
	font-family:"Century Gothic";
}
.style_01{
	background: url('images/label-blue.png') no-repeat ;
	height:80px;
	width:auto;
}
.style_02{
	color:#FFF;
	font-size:55px;
	margin: 10px 0 50px 80px;
}
.style_03{
	background-color:#D7F1F7;
	height:100px;
	width:200px;
	margin:0 0 0 60px;
	padding:0 0 0 10px;
}
.style_04{
	padding: 10px 50px 10px 20px;
}
.style_05{
	color:#000;
	font-size:14px;
	float:left;
	width:80px;
	text-align:center;
}
.style_06{
	color:#000;
	font-size:14px;
	float:right;
	width:80px;
	text-align:center;
	padding:0 10px 0 0;
}
.style_07{
	background-color:#D7F1F7;
	height:40px;
	width:200px;
	margin:2px 0 0 60px;
	padding:0 0 0 10px;
	text-align:center;
}
.style_08{
	color:#000;
	font-size:32px;
}
.style_09{
	color:#777;
	font-size:11px;
}
.style_10{
	background-color:#D7F1F7;
	height:40px;
	width:200px;
	margin:2px 0 0 60px;
	padding:0 0 0 10px;
}
.style_11{
	color:#000;
	font-size:14px;
	text-align:center;
	padding:10px;
}
.style_12{
	background-color:#fff;
	height:40px;
	width:200px;
	margin:2px 0 0 60px;
	padding:0 0 0 10px;
}
.style_13{
	padding: 5px 0 5px 10px;
	float:left;
}
.style_14{
	color:#000;
	font-size:14px;
	text-align:center;
	padding: 10px;
}
.style_15{
	background-color:#DDEACF;
	height:90px;
	width:200px;
	margin:2px 0 0 60px;
	padding:0 0 0 10px;
}
